.container {
    background-image: url('/images/Login.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.wrapper {
    width: 450px;
    height: 450px;
    background-color: rgb(150, 201, 14,0.4);
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    text-align: center;
}

a {
    text-decoration: none;
}

input {
    width: 80%;
    border-radius: 50px;
    padding: 8px 10px;
    margin: 5px 0px;
    border: 2px solid rgb(255, 255, 255,0.5);
    background-color: transparent;
}

h1 {
    text-align: center;
    margin: 30px 0px;
    text-shadow: 2px 1px;
}

.forget {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px 40px;
}

    .forget label {
        display: flex;
        white-space: nowrap;
    }

button {
    width: 80%;
    padding: 8px 5px;
    margin: 8px 0px;
    border-radius: 50px;
    border: none;
    background-color: rgb(255, 255, 255, 0.4);
}

    button:hover {
        background-color: rgb(255, 0, 0,1);
    }

.register {
    margin: 8px 0px;
}
